data:
  dimension: D3
  p: 10
  p1: 4
  p2: 4
  k: 5
  batch_size: 1000
  seed: 5
  template_type: onehot
  mnist_label: 4
  n_freqs: 1
  powers:
  - 0.0
  - 2000.0
  - 400.0
  mode: exhaustive
  num_samples: 1000
model:
  model_type: SequentialMLP
  hidden_dim: 600
  init_scale: 1.0e-6
  return_all_outputs: false
  transform_type: quadratic
training:
  mode: offline
  epochs: 3000
  num_steps: 100
  optimizer: per_neuron
  learning_rate: 0.001
  betas:
  - 0.9
  - 0.999
  weight_decay: 0.0
  scaling_factor: -3
  degree: null
  grad_clip: 0.1
  verbose_interval: 1000
  save_param_interval: 10
  reduction_threshold: null
device: cuda:1
analysis:
  checkpoints:
  - 0.0
  - 1.0
